body, html {
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  overflow-x: hidden; /* Ensure no horizontal scrolling */
  overflow-y: hidden; /* Ensure no vertical scrolling */
}

#unity-container { 
  position: fixed; 
  width: 100%; 
  height: 100%; 
}

#unity-canvas { 
  width: 100%; 
  height: 100%; 
  background: transparent;
}

#unity-loading-bar { 
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  display: none;
}
#unity-logo { 
  width: 154px; 
  height: 130px; 
  background: url('unity-logo-dark.png') no-repeat center;
}

#unity-progress-bar-empty { 
  margin-left: auto; 
  margin-right: auto; 
  width: 141px; 
  height: 18px; 
  margin-top: 10px; 
  background: url('progress-bar-empty-dark.png') no-repeat center 
}

#unity-progress-bar-full { 
  width: 0%; 
  height: 18px; 
  margin-top: 10px; 
  background: url('progress-bar-full-dark.png') no-repeat center 
}

#unity-warning { 
  position: absolute; 
  left: 50%; 
  top: 5%; 
  transform: translate(-50%); 
  background: white; 
  padding: 10px; 
  display: none 
}
 
  
  #model-container {
    position: relative;
    background-color: transparent !important;
    width: 100vw;
    height: 100vh;
    z-index: 20;
  }
  
  #earthImageContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150vw; /* Increase the width to make it appear larger */
    height: 150vh; /* Increase the height to make it appear larger */
    z-index: -1; /* Ensure it's behind everything */
    background: url('../images/8K-earth-image.png') no-repeat center center;
    background-size: cover; /* Ensures the image covers the container */
    transform: translate(-50%, -50%) scale(1.2); /* Increase scale to bring the image closer */
    transition: transform 1s ease, filter 1s ease; /* Smooth transition for scaling and blur effect */
    filter: blur(0px); /* Start with no blur */
  }
  
  
  
  #earth-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;  /* Make sure the image spans the full viewport width */
    height: 100vh; /* Make sure the image spans the full viewport height */
    transform-origin: center center; /* Ensures scaling happens from the center */
    transform: translate(-50%, -50%);
    transition: transform 15s ease-out; /* Smooth zoom-in effect */
    object-fit: cover; /* Ensures the image covers the container */
  }
  
  @keyframes clearBlur {
    0% {
        filter: blur(15px);
    }
    100% {
        filter: blur(0px);
    }
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(4.5); /* Final zoom level */
    }
  }
  
  
  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 10;
  }
  
  #white-fade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    z-index: 9999;
    transition: opacity 2s ease;
  }
  
  /* Fade-out animation for the body */
  @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }
  
  body.fade-out {
    animation: fadeOut 2s forwards; /* 2-second fade */
  }
  
  /* Fade-in animation for the body */
  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  body.fade-in {
    animation: fadeIn 2s forwards; /* 2-second fade */
  }
  
  #gauge-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    display: inline-block;
  }
  
  #gauge-body {
    background-image: url('gauge/Gauge_v4_BODY.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 425px;
    height: 441px;
    position: relative;
    z-index: 90;
  }
  
  #gauge-needle {
    background-image: url('gauge/Gauge_v4_NEEDLE.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 115px;
    height: 115px;
    position: absolute;
    top: 30px;
    left: 265px;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    z-index: 91;
  }
  
  
  
  @font-face {
    font-family: 'Digital-7 Mono';
    src: url('fonts/digital_7/digital-7\ \(mono\).ttf') format('truetype');
  }
  
  /* Apply styles for both portrait and landscape modes on tablets and smaller devices */
  /* @media (max-width: 768px), (orientation: landscape) and (max-height: 768px) {
  
  } */
  
  /* Fade to black effect */
  @keyframes fadeToBlack {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        background-color: black;
    }
  }
  
  @keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  #fade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    z-index: 20;
    animation: fadeToTransparent 3s forwards;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }


  .fade-to-black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Start with a black screen */
    opacity: 1;              /* Fully opaque at the start */
    z-index: 20;             /* Ensure it is on top of other content */
    animation: fadeToTransparent 3s forwards; /* Animation to fade out */
    animation-delay: 5s;     /* Delay the fade out to allow the welcome text to show */
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeToTransparent {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none; /* Hide after fading out */
    }
  }
  
  .welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    font-size: 3em;
    color: white;
    opacity: 1; /* Start visible */
    z-index: 30; /* Ensure it is on top of the fade */
    text-align: center;
    animation: fadeOutText 2s forwards;
    animation-delay: 3s; /* Delay before fading out the text */
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeOutText {
    from {
        opacity: 1; /* Start fully visible */
    }
    to {
        opacity: 0; /* End fully transparent */
    }
  }
  
  
  /* media query for mobile / tablet 768px and lower ====================== */
  /* @media (max-width: 768px) {
    #model-container, #earthImageContainer, #earth-image, .welcome-text {
      justify-content: center;
      align-items: center;
      transform: translate(-50%, -50%);
    }
  } */
  
  @media (max-width: 768px) {
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 5; 
    }
  
    #model-container {
      width: 100vw; /* Make sure it's full width */
      height: 100vh; /* Full height as well */
      /* overflow: hidden; 
      position: relative; */
      z-index: 10;
    }
  
    #earthImageContainer {
      width: 100vw; /* Scale background to fit mobile view */
      height: 100vh;
      transform: translate(-50%, -50%) scale(0.8); /* Reduce the scale on mobile */
      background-size: cover; /* Ensure it covers the container */
      z-index: -1;
    }
  
    #earth-image {
      width: 100vw; /* Make the image fit the screen width */
      height: 100vh; /* Ensure it fits screen height */
      transform: translate(-50%, -50%) scale(1); /* Keep it centered */
    }
  
    .welcome-text {
      font-size: 2em; /* Adjust for smaller screens */
      transform: translate(-50%, -50%);
    }
  
    body, html {
      overflow: hidden; /* Ensure there's no scrolling */
    }
  }